body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/img/img02.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
}

.container {
    text-align: center;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
}
